.Add-Todo {
  margin: 20px;
  margin-left: 60px;
  outline-style: dashed;
  padding: 5px;
  width: fit-content;
}
.label {
  display: flex;
  padding: 10px;
}
.submit-btn {
  margin: 10px;
}
.add-form{
  background-color:steelblue;
  width:fit-content;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 10px;
}
.add-head{
  margin-top: 20px;
  margin-left: 15px;
}
